html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
}

.display-1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 700;
}

.display-2 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}

.heading-1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.heading-2a {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}


.heading-2b {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.heading-3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
}

.body-1a {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}

.body-1b {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

.body-2a {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.link-text {
    font-size: 0.75rem;
    font-weight: 400;
}

.color-white {
    color:#FCFCFC
}

.color-red {
    color:#A52B2B;
}

.top-bar-container {
    background-color: #1F2333;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 3.5em;
    
}

nav {
    margin-left: auto;
    margin-right: 3.5em;
}

.nav-list {
    list-style-type: none;
}

.heading-link:link {
    color:#FCFCFC;
    text-decoration:none;
}

.heading-link:visited {
    color:#FCFCFC;
    text-decoration:none;
}

.heading-link:hover {
    color:#FFE6B0;
    text-decoration:none;
}

.heading-link:active {
    color: #FFC547;
    text-decoration: underline;
}

.heading-link-selected {
    color:#FFC547;
    text-decoration: none;
    border-bottom: #FFC547 0.2em solid;
}

.featured-link:link {
    color:#A52B2B;
    text-decoration:none;
}

.featured-link:visited {
    color:#A52B2B;
    text-decoration:none;
}

.featured-link:hover {
    color:#FFE6B0;
    text-decoration:none;
}

.home-about-link:link {
    color: #FFE6B0;
    text-decoration:none;
}

.home-about-link:visited {
    color: #FFE6B0;
    text-decoration:none;
}

.home-about-link:hover {
    color:#FFC547;
    text-decoration:none;
}

.popular-recipes-card:link {
    color: #1F2333;
    text-decoration:none;
}

.popular-recipes-card:visited {
    color: #1F2333;
    text-decoration:none;
}

.popular-recipes-card:hover {
    margin: 0 2em 2em 2em;
    text-decoration:none;
}

.view-more-button {
    color:#1F2333;
}
.view-more-button:link {
    color: #1F2333;
    text-decoration:none;
}

.view-more-button:link:visited {
    color: #1F2333;
    text-decoration:none;
}

.view-more-button:hover {
    color: #FCFCFC;
    text-decoration:none;
}


.nav-list li {
    display: inline;
    padding: 0 0.2em 0 0.2em;
}

#instagram {
    width: 1.5em;
    margin-bottom: -0.4em;
    fill: #FCFCFC;
    transition: 0.4s;
  
  }
  #instagram:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  #instagram-2 {
    width: 3.5em;
    margin-bottom: -0.4em;
    fill: #FCFCFC;
    transition: 0.4s;
  
  }
  #instagram-2:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  #tiktok {
    height: 3.5em;
    margin-bottom: -0.4em;
    fill: #FCFCFC;
    transition: 0.4s;
  
  }
  #tiktok:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  .banner-image img {
      width: 100%;
  }

  .center-flex {
      display: flex;
      justify-content: center;
  }

  .vs-container {
      display: flex;
      justify-content: center;
  }
  .vs-container img {
      width: 60%;
  }

  .button-1 {
    background-color: #A52B2B;
    border: none;
    color: #FCFCFC;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.2em 1em;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 0.3);
  }
  .button-2 {
    background-color: #FFC547;
    border: none;
    color: #1F2333;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.2em 1em;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 0.3);
  }
  .whats-better-container {
      margin: 4em 0;
  }

  .title-slanted-background {
   height: 2.4em;
   background: repeating-linear-gradient(-120deg,
    white 0em, white 75%,
   #1F2333 14em,
   #1F2333
   );
   display: flex;
   align-items: center;
   margin-left: 2em;
   margin-bottom: 1em;
  }

  .slanted-title-text {
    color:#FCFCFC;
    margin-left: 0.8em;;
  }


  .about-me-home-container {
      display: flex;
      width: 80%;
      height: 25em;
      margin-right: auto;
      margin-left: auto;
      margin-top: 4em;
  }
  .about-image-container img {
      width: 22.5rem;
      
  }

  .about-text {
      background-color: #1F2333;
      color:#FCFCFC;
     

  }

  .about-text h3 {
      margin-top: 4rem;
      margin-left: 4rem;
      margin-bottom: 0;
  }

  .about-text p {
      margin-top: 1em;
      margin-left: 6rem;
      width: 80%;
      margin-bottom: 0;
  }

  .about-text a {
    color:#FFC547;
    margin-left: 6rem;
}
.popular-recipes-home-container {
    margin: 4em 0;
}

.popular-recipes-card {
    width: 15em;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 0.3);
    margin: 1em 2em;
    webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}


.pop-image-container img{
    width: 14em;
    margin-top: 0.5em;
}

.popular-recipes-card h3 {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin-top: auto;
    margin-bottom: auto;
    
}

.popular-recipes-row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #1F2333;
    color:#FCFCFC;
    display: flex;
    margin-top: 4em;
}

.input-styles {
    background-color: #1F2333;
    border: none;
    border-bottom:0.1em solid #FCFCFC;
    color: #FCFCFC;
    width: 12rem;
}

.input-styles-last {
    background-color: #1F2333;
    border: none;
    border-bottom:0.1em solid #FCFCFC;
    color: #FCFCFC;
    width: 18rem;
}

.contact-input {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
}

.contact-form {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 2em;
}

.submit {
    grid-row-start: 4;
    margin-left: 1em;
    width: 8em;
    height: 2.5em;

}

.Follow-container {
    margin-left: 22em;
}

.bot-socials {
    display: flex;
}

.socials-bot {
    padding: 0 1.5em;
}


/* about page styles */

.about-page-image img {
    width: 43em;
}

.about-text-center {
    width: 43em;
    margin-left: auto;
    margin-right: auto;
}

.about-title-shift {
    margin-left: 18rem;
}

.featured-image-container img {
width: 27rem;
height: 28rem;
}

.featured-image-container {
    width: 27rem;
    height: 28rem;
    }

.featured-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 0.3);
}

.featured-text {
    margin-top: 2em;
    margin-left: 3em;
    width: 38em;
}

.featured-text p {
    margin-left: 1em;
}
.featured-text a {
    margin-left: 1em;
}

.featured-title-shift {
    margin-left: 3rem;
}

.recipe-title {
    width: 32rem;
    color:#FCFCFC;
    background-color: #1F2333;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-list-recipe {
    list-style-type: none;
    color: rgb(165 43 43 / 0.7);
    display: flex;
    flex-direction: column;
}

.nav-list-recipe-selected {
    color: rgb(165 43 43);
}

.recipe-nav-list-item {
    padding: 0 2em;
    margin: 1em 0;
}

.search-container {
    width: 32rem;
    height: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.search-icon {
    border: #1F2333 solid 0.1em;
    border-radius: 0 0.2em 0.2em 0;
    background-color:#1F2333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 1.8em;
    height: 1.8em;
}

.search-text {
    border: #1F2333 solid 0.1em;
    display: flex;
    align-items: center;
   margin: 0;
   width: 30rem;
   border-radius: 0.2em 0 0 0.2em;
   padding-left: 1em;
}

.recipes-home-container {
    margin: 4em 0;
}

.recipes-card {
    width: 27em;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 0.3);
    margin: 1em 2em;
}


.recipe-image-container img{
    width: 25em;
    margin-top: 0.5em;
}

.recipes-row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.recipe-card-text h3{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 2rem;
}

.recipe-card-text p{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 2.5rem;
}

.nav-list-recipe {
    list-style-type: none;
    color: rgb(165 43 43 / 0.7);
    display: flex;
    flex-direction: column;
}

.nav-list-recipe-selected {
    color: rgb(165 43 43);
}

.recipe-nav-list-item {
    padding: 0 2em;
    margin: 1em 0;
}

.main-container-recipe {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem; 
    margin-top: 4em;
    
}

.recipe-categories-container {
    grid-column-start: 1;
}

.recipe-field {
    grid-column-start: 2;
    border: rgb(0 0 0 / 0.3) solid 0.1em;
}

.recipe-field h2 {
    margin-left: 6rem;
}

.recipe-image {
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

.recipe-image img{
    width: 32rem;
}

.ingredients-container {
    margin-left: 6rem;
}

.method-container {
    margin-left: 6rem;
}

.seperation-line {
    width: 90%;
    height: 0.1em;
    background-color: rgb(0 0 0 / 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    
}

.share-elements {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-top: 0;
}
.share-elements h4 {
    margin-right: 2rem;
}

.socials-recipe-share {
    margin-right: 2rem;
    margin-bottom: 0.4rem;
}

#facebook {
    width: 1em;
    margin-bottom: -0.4em;
    fill: #1F2333;
    transition: 0.4s;
  
  }
  #facebook:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  #twitter {
    height: 1em;
    margin-bottom: -0.4em;
    fill: #1F2333;
    transition: 0.4s;
  
  }
  #twitter:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  #linkedin {
    width: 1em;
    margin-bottom: -0.4em;
    fill: #1F2333;
    transition: 0.4s;
  
  }
  #linkedin:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

  #copy-link {
    height: 1em;
    margin-bottom: -0.4em;
    fill: #1F2333;
    transition: 0.4s;
  
  }
  #copy-link:hover {
    fill: #FFE6B0;
    transition: 0.4s;
  }

